// Junior flavor Profile configuration
#include "Release.xcconfig"

// App Identity
PRODUCT_BUNDLE_IDENTIFIER=com.streamshaala.streamshaala.junior
PRODUCT_NAME=StreamShaala Junior
DISPLAY_NAME=StreamShaala Junior

// App Icon
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-junior

// Dart entry point
FLUTTER_TARGET=lib/main_junior.dart
